
<md-nav-list>
    <a md-list-item ><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>Sr. System Administrator</a>
    <md-divider></md-divider>
    <a md-list-item routerLink="/report"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>&nbsp;Rapor</a>
    <a md-list-item routerLink="/beacon"><i class="fa fa-bluetooth-b fa-2x" aria-hidden="true"></i>&nbsp;Beacon</a>
    <a md-list-item routerLink="/location"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>&nbsp;Lokasyon</a>
    <a md-list-item routerLink="/beacon-location"><i class="fa fa-dot-circle-o fa-2x" aria-hidden="true"></i>&nbsp;Beacon Lokasyon</a>
    <a md-list-item routerLink="/employee"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp;Çalışan</a>
    <a md-list-item routerLink="/position"><i class="fa fa-cubes fa-2x" aria-hidden="true"></i>&nbsp;Pozisyon</a>
    <a md-list-item routerLink="/location-chief"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i>&nbsp;Lokasyon Sorumlusu</a>
    <a md-list-item routerLink="/picklist">Pick List prime ng</a>

</md-nav-list>

    